pipeline/PL_RETAIL_INGESTION.json
{
	"name": "PL_RETAIL_INGESTION",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Metadata",
				"description": "",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nSELECT *\nFROM Pipeline_Metadata\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_METADATA",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Check_Source_Type",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().SourceType,'SQL')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy_API",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"storeSettings": {
													"type": "HttpReadSettings",
													"requestMethod": "GET"
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_API_DYNAMIC",
												"type": "DatasetReference",
												"parameters": {
													"p_relative_url": "@item().SourceObject"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS_DYNAMIC",
												"type": "DatasetReference",
												"parameters": {
													"p_folder": "@item().TargetFolder",
													"p_filename": "@item().FileName"
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy_SQL",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_SQL_DYNAMIC",
												"type": "DatasetReference",
												"parameters": {
													"p_table_name": "@item().SourceObject"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_ADLS_DYNAMIC",
												"type": "DatasetReference",
												"parameters": {
													"p_folder": "@item().TargetFolder",
													"p_filename": "@item().FileName"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_source_type": {
				"type": "string"
			},
			"p_source_object": {
				"type": "string"
			},
			"p_target_folder": {
				"type": "string"
			},
			"p_filename": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-30T20:34:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}